 /* Custom styles for registration form */
 .card.bg-glass {
   background-color: rgba(255, 255, 255, 0.7);
   border-radius: 15px;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   padding: 30px;
 }

 form {
   max-width: 400px;
   margin: auto;
 }

 /* Header styles */
 header {
   padding: 20px;
   background-color: #007bff;
   color: #fff;
   text-align: center;
 }

 header a {
   color: #fff;
   text-decoration: none;
   font-weight: bold;
 }

 body {
   background: linear-gradient(to bottom, #2B3035, #677f97);
 }

 button>a {
   text-decoration: none;
   list-style: none;
   color: black
 }

 button>a:hover {
   color: white;
 }

 .btn-link {
   color: black;
 }

 .btn-link:hover {
   color: rgb(250, 245, 245);
 }

 .bg-glass {
   background-color: hsla(0, 0%, 100%, 0.9) !important;
   backdrop-filter: saturate(200%) blur(25px);
 }

 .background-radial-gradient {
   background-color: hsl(218, 41%, 15%);
   background-image: radial-gradient(650px circle at 0% 0%,
       hsl(218, 41%, 35%) 15%,
       hsl(218, 41%, 30%) 35%,
       hsl(218, 41%, 20%) 75%,
       hsl(218, 41%, 19%) 80%,
       transparent 100%),
     radial-gradient(1250px circle at 100% 100%,
       hsl(218, 41%, 45%) 15%,
       hsl(218, 41%, 30%) 35%,
       hsl(218, 41%, 20%) 75%,
       hsl(218, 41%, 19%) 80%,
       transparent 100%);
 }

 #radius-shape-1 {
   height: 220px;
   width: 220px;
   top: -60px;
   left: -130px;
   background: radial-gradient(#44006b, #ad1fff);
   overflow: hidden;
 }

 #radius-shape-2 {
   border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
   bottom: -60px;
   right: -110px;
   width: 300px;
   height: 300px;
   background: radial-gradient(#44006b, #ad1fff);
   overflow: hidden;
 }